h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-size: 2.5rem;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p{
  color: #40514E;
  line-height: 2;
}

a:hover{
  color: #EAF6F6;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: 0;
  width: 4%;
  margin: 100px auto;
}

body {
  text-align: center;
  margin: 0;
  font-family: verdana, sans-serif;
}

.topdiv {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 80px;
  color: #EAF6F6;

}

.middlediv {
  padding-bottom: 100px;
  padding-top: 100px;
}

.intro{
  width: 30%;
  margin: 0 auto;
}
.sports-img {
  border-radius: 50%;
  background-color: #CCD6A6;
  width: 25%;
  float: right;
  margin-left: 30px;
}
.computer-img {
  border-radius: 50%;
  background-color: #CCD6A6;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.profile-img{
  border-radius: 50%;
  background-color: #CCD6A6;
  width: 12%;
}

.bottomdiv {
  background-color: #62B6B7;
  padding-top: 30px;
}

.cloud-bottom {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.cloud-top {
  position: absolute;
  right: 300px;
  top: 40px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.contact-me{
  width: 40%;
  margin: auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottomdiv{
  background-color: #66BFBF;
  padding-top:  40px;
  padding-bottom: 10px
}

.footer-link{
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}
.end{
  color: #EAF6F6;
  font-size: 0.75em;
  padding: 20px 0;
}
#s{
  margin-bottom: 180px
}
